.modal_survey{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.4);
    z-index: 190;
}

.modal{
    width: 500px;
    height: 400px;
    background: #fff;
    border: 4px solid #444;
    border-radius: 6px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
}

.modal_header_logo{
    width: 220px;
    height: auto;
    position: relative;
    margin: 50px 0px 60px 140px;
}

.modal_words{
    width: 90%;
    margin: 0 auto !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.modal_yes_wrapper{
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 30px;
}

.modal_yes{
    color: black !important;
    text-decoration: none;
    border: 1px solid orange;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    background: #f5921e;
    border-radius: 6px;
    position: absolute;
    left: 195px;
}

.modal_words2{
    width: 90%;
    margin: 40px auto 0px auto !important;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.modal a{
    color: rgb(8, 106, 218);
}
