.footer{
    width: 100%;
    min-height: 300px;
    background: #494d4f;
    position: relative;
    padding: 60px 0px 60px 0px;
}

.footer_inner{
    max-width: 1000px;
    margin: 0 auto !important;
    position: relative;
    color: white;
}

.footer_about{
    width: 320px;
    font-size: 15px;
    line-height: 26px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.footer_menu{
    width: 530px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.footer_menu li{
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.footer_menu li:hover{
    text-decoration: underline;
}

.footer_base{
    width: 100%;
    height: 60px;
}

.logo_container{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 10px;
}

.logo_container img{
    position: absolute;
}

#twitter_logo{
    left: 10px;
    top: 10px;
}

#linkedin_logo{
    left: 3px;
    top: 3px;
}

#google_plus_logo{
    left: 12px;
    top: 10px;
}

#facebook_logo{
    left: 13px;
    top: 10px;
}

.footer_base p{
    display: inline-block;
    line-height: 40px;
    margin-left: 50px;
}

.maritzcx_logo{
    position: absolute;
    right: 0;
    bottom: 30px;
}

@media(max-width: 900px){

}

