.bottom_survey{
    width: 100%;
    background: #494d4f;
    position: relative;
}

.bottom_survey_inner{
    position: relative;
    max-width: 1000px;
    margin: 0 auto !important;
    font-size: 20px;
    color: #eee;
}

.bottom_survey_frame{
    width: 1000px;
    display: block;
}

